@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
div{
    width: 200px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    line-height: 18px;
    padding: 0px 24px;
    border: 2px solid #507c7c;

    background-image: url(../images/cocktail.gif);
    background-repeat: repeat-x;
}
div h1{
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
div h2{
    font-size: 19px;
    color: #b36a79;
}
div p{
    font-size: 15px;
}



